/target/*
/.idea/libraries/*
/project/target/*

.idea/workspace.xml
.idea/tasks.xml


.idea/uiDesigner.xml


project/target/streams/compile/compileIncremental/$global/streams/out

project/target/streams/compile/copyResources/$global/streams/out
